.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 14px;
    background-color: inherit;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 3000px;
    max-height: 100; 
    overflow-y: auto; 
    text-align: center;
    left: 0;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 200px; 
    text-decoration: none;
    display: block;
    line-height: 30px; 
    min-width: 50px; 
  
}

.navbar a:hover, .dropdown:hover .dropdown-btn {
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.navbar a:first-child {
    margin-left: 20px; 
}

.navbar a:not(:first-child) {
    margin-left: 10px;
}
.leaderboard-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.leaderboard {
    list-style: none;
    padding: 0;
}

.leaderboard li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}