.navbar {
    background-color: #333;
    overflow: hidden;
}

/* Style for the navigation links */
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

/* Style for the dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style for the dropdown button */
.dropdown-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 14px;
    background-color: inherit;
    font-family: 'Courier New', Courier, monospace;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    width: 3000px; /* Adjusted width for dropdown content */
    max-height: 100; /* Set maximum height for dropdown content */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
    text-align: center; /* Left-align dropdown content */
    left: 0; /* Left-align dropdown content */
}

.dropdown-content a {
    color: #fff;
    padding: 10px 200px; /* Adjusted padding for dropdown content buttons */
    text-decoration: none;
    display: block;
    line-height: 30px; /* Set line height equal to button height */
    min-width: 50px; /* Set a minimum width for all buttons */
  
}

/* Change color on hover */
.navbar a:hover, .dropdown:hover .dropdown-btn {
    background-color: red;
}


/* Show the dropdown content when the dropdown is hovered */
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar a:first-child {
    margin-left: 20px; /* Adjusted margin */
}

.navbar a:not(:first-child) {
    margin-left: 10px; /* Adjusted margin for all links except the first */
}